<div class="todo-container">
  <div class="group-list">
    <h2>Task Groups</h2>
    <div class="add-group">
      <input type="text" [(ngModel)]="newTaskGroup" placeholder="New Group Name" />
      <button class="red-rounded-button" (click)="addTaskGroup()">Add Group</button>
    </div>
    <ul *ngFor="let group of taskGroups">
      <li (click)="selectGroup(group)" [class.selected]="selectedGroup === group">
        {{ group.name }}
        <button class="red-rounded-button" (click)="deleteGroup()">Del</button>
      </li>
    </ul>
  </div>

  <div class="item-list" *ngIf="selectedGroup">
    <h2>{{ selectedGroup.name }} Tasks</h2>
    <div class="add-item">
      <input type="text" [(ngModel)]="newItemTitle" placeholder="New Task Title" />
      <button class="red-rounded-button" (click)="addItem()">Add Task</button>
    </div>
    <ul>
      <li *ngFor="let item of selectedGroup.items">
        <input type="checkbox" [(ngModel)]="item.completed" (change)="toggleComplete(item)" />
        <span [class.completed]="item.completed">{{ item.title }}</span>
        <button class="red-rounded-button" (click)="deleteItem(item)">Del</button>
      </li>
    </ul>
  </div>
</div>